.button:hover{
    -fx-background-color: #00c853;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}
.button{
    -fx-background-color: skyblue;
}
.drawer:hover{
    -fx-background-color: #00c853;
}